#labBtn {
    margin: 12px 4px;
    animation: myfirst 2s infinite linear;
}

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom: 2px solid #41996c;
}
@keyframes myfirst {
    0% {
    opacity: .5;
    border: 1px solid rgba(59,235,235,.1);
    box-shadow: 0 1px 2px rgba(255,255,255,.1);
    }

    50% {
        opacity: 1;
        border: 1px solid rgba(59,235,235,1);
        box-shadow: 0 1px 30px rgba(59,255,255,1);
    }
    100% {
        opacity: .5;
        border: 1px solid rgba(59,235,235,.1);
        box-shadow: 0 1px 2px rgba(255,255,255,.1);
    }
}

small.has-error{
    margin-bottom: 0;
    display: block;
    padding: 0 0 0 40px;
}
