/*
  header.ejs style patch
  jACKY 2016-3-22
*/
.docs-nav{
  background-color: #455758;
  opacity: 0.98;
  border:1px solid #455758;
}
.docs-nav-shadow{
  box-shadow: 0px 5px 5px rgba(10, 10, 10, 0.3);  
}
.docs-nav .navbar-nav > li > a{
  color: #9d9d9d;
}
.docs-nav .navbar-nav  > .active > a,
.docs-nav .navbar-nav > .active > a:hover,
.docs-nav .navbar-nav > .active > a:focus{
  background-color:#344546;
}

.profile .dropdown:hover{
  background-color: #344546;
}
.profile>.dropdown>a>img{
  border:none;
}

.docs-nav .dropdown-menu {
  background-color: #344546;
}
.docs-nav .dropdown-menu > li> a:hover{
  background-color: #192223;
}