{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/invite.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/share_style0_16.css' %}">
    <script src="/static/js/echarts.min.js"></script>

{% endblock %}
{% block content %}
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="main" style="width: 90%;height:750px;margin-top: 70px; margin-right: auto;margin-left: auto;margin-bottom: 10px;"></div>
        <script src="{% get_media_prefix %}{{ jsfile }}"></script>
{% endblock %}

{% block foot %}
    <script src="{% static 'js/invite.js' %}"></script>
{% endblock %}