{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home-2.css' %}">

    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <script src="{% static 'js/share.js' %}"></script>
    <!--jACKY end-->
{% endblock %}
{% block content %}
    <div class="container" style="width: 100%">
      <div class="row section">
        <img src="{% static 'img/banner2.jpg' %}" class="banner-bg"><!--jACKY 2016-3-24-->
        <div class="tBanner">
          <div>
            <h1>用图表的方式，了解农业发展情况</h1>
            <p>让图表更有趣，数据更简单！</p>
            <a href="/index" class="btn btn-primary btn-lg">
              <i style="margin-right: 10px;" class="glyphicon glyphicon-send"></i>
              点击图表
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="jcarousel-wrapper container">
            <div class="course-evaluation jcarousel " data-jcarousel="true">
                <ul style="left: -228px; top: 0px;">

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/5359f6f6ec7452081a7873d8">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section0.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/5359f6f6ec7452081a7873d8">
                                        Node.js
                                    </a>
                                </h5>
                                <a href="/course/5359f6f6ec7452081a7873d8">
                                    Node.js是一个基于Chrome JavaScript运行时建立的一个平台，用来方便地搭建.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/5449c691e564e50960f1b7a9">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section1.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/5449c691e564e50960f1b7a9">
                                        Spark
                                    </a>
                                </h5>
                                <a href="/course/5449c691e564e50960f1b7a9">
                                    Apache Spark 是一个用于大规模数据处理的计算引擎，数据处理专家.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/56821c3f660c92d638a68df5">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section2.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/56821c3f660c92d638a68df5">
                                        20小时学会编程
                                    </a>
                                </h5>
                                <a href="/course/56821c3f660c92d638a68df5">
                                    关键20小时之编程，其中10小时是研究，然后剩下的10小时是编写两个应用程序.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/5507ca5be564e51314f544e4">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section3.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/5507ca5be564e51314f544e4">
                                        Ionic
                                    </a>
                                </h5>
                                <a href="/course/5507ca5be564e51314f544e4">
                                    有了Ionic，我们可以使用它轻松开发HTML5跨平台移动应用。
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/54ee8d2de564e519b8f8dad3">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section4.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/54ee8d2de564e519b8f8dad3">
                                        JavaScript
                                    </a>
                                </h5>
                                <a href="/course/54ee8d2de564e519b8f8dad3">
                                     JavaScript是一种属于网络的脚本语言,身处移动互联网时代，你必须要认识它。
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/550a8966e564e51f041a15ba">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section5.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/550a8966e564e51f041a15ba">
                                        MySQL
                                    </a>
                                </h5>
                                <a href="/course/550a8966e564e51f041a15ba">
                                    MySQL是一个成熟优秀的数据库，我们可以使用它存储海量数据.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/54d1cae088dba03f2cd1fec1">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section6.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/54d1cae088dba03f2cd1fec1">
                                        CSS3
                                    </a>
                                </h5>
                                <a href="/course/54d1cae088dba03f2cd1fec1">
                                    CSS3最新的样式表技术，我们使用它创造出更多令人惊叹的视觉效果.....
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- Prev/next controls-->
            <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"> ›</a>

            <!-- Pagination -->
            <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1">1</a><a href="#2" class="active">2</a><a href="#3">3</a><a href="#4">4</a><a href="#5">5</a><a href="#6">6</a><a href="#7">7</a></p>
        </div>
    <div class="container-wrap clearfix" id="particles-js">

        <!--section-group-->
        <div class="section-group pi-section-group clearfix">
            <div class="section-group-inner">

                <!--section-titlebar-->
                <div class="section-titlebar">
                    <h3>农业统计数据资源</h3>
                    <p>只为让你快速了解农业发展现状+</p>
                </div>
                <!--/section-titlebar-->
                <!--section-container-->
                <div class="section-container">

                    <ul class="pi-list">
                        <li class="pi-list-item">
                            <div class="pi-list-box">
                                <img alt="PC/手机/微信站三合一" src="http://cdn.wemorefun.com/content/statics/images/i-pic-1.gif" class="pi-list-img">
                                <h4 class="pi-list-title">PC/手机/微信站三合一</h4>
                                <p class="pi-list-int">简单易用，零技术上手，精美网页30分钟轻松拥有，做企业站、个人站、网店商城、手机微信站，样样行</p>
                            </div>
                        </li>
                        <li class="pi-list-item">
                            <div class="pi-list-box">
                                <img alt="搜索引擎主动推送" src="http://cdn.wemorefun.com/content/statics/images/i-pic-2.gif" class="pi-list-img">
                                <h4 class="pi-list-title">搜索引擎主动推送</h4>
                                <p class="pi-list-int">提供快捷的SEO功能，有效提升网站的收录和排名支持全局SEO，单独页面，单独文章或产品的SEO设定</p>
                            </div>
                        </li>
                        <li class="pi-list-item">
                            <div class="pi-list-box">
                                <img alt="高效灵活的设计器" src="http://cdn.wemorefun.com/content/statics/images/i-pic-3.gif" class="pi-list-img">
                                <h4 class="pi-list-title">高效灵活的设计器</h4>
                                <p class="pi-list-int">模板随心换，任意拖拽布局，各种模块插件，随意安装，自由设置；按照自己的想法构建任何风格网站</p>
                            </div>
                        </li>
                    </ul>

                </div>
                <!--/section-container-->

            </div>
        </div>
        <!--/section-group-->
        <div class="section-group template-section-group clearfix">
                <div class="section-group-inner">

                    <!--section-titlebar-->
                    <div class="section-titlebar">
                        <h3>可视分析图表</h3>
                        <p>交互体验 加载动画 只需轻点 即刻享有 </p>
                    </div>
                    <!--/section-titlebar-->
                    <!--section-container-->
                    <div class="section-container">

                        <div class="template-group">
                            <a href="javascript:void(0);" class="template-page prev"></a>
                            <a href="javascript:void(0);" class="template-page next"></a>
                            <div class="template-list">
                                <div class="tempWrap" style="overflow:hidden; position:relative; width:3480px"><div class="template-list-inner" style="width: 8120px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -3480px;"><ul class="template-list-group clone" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=30&amp;isMobile=False&amp;productId=0" title="康达农业科技" target="_blank"><img alt="康达农业科技" src="http://cdn.wemorefun.com/content/statics/images/template/b-13.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=29&amp;isMobile=False&amp;productId=0" title="威箭集团" target="_blank"><img alt="威箭集团" src="http://cdn.wemorefun.com/content/statics/images/template/b-14.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=27&amp;isMobile=False&amp;productId=0" title="WMF肌肤护理专家" target="_blank"><img alt="WMF肌肤护理专家" src="http://cdn.wemorefun.com/content/statics/images/template/b-15.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=26&amp;isMobile=False&amp;productId=0" title="顺为广告传媒" target="_blank"><img alt="顺为广告传媒" src="http://cdn.wemorefun.com/content/statics/images/template/b-16.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=20&amp;isMobile=False&amp;productId=0" title="聚友家私" target="_blank"><img alt="聚友家私" src="http://cdn.wemorefun.com/content/statics/images/template/b-17.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=16&amp;isMobile=False&amp;productId=0" title="百味美食" target="_blank"><img alt="百味美食" src="http://cdn.wemorefun.com/content/statics/images/template/b-18.jpg"></a></li>
                                    </ul>
                                    <ul class="template-list-group" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=62&amp;isMobile=False&amp;productId=0" title="艾迪尔珠宝" target="_blank"><img alt="艾迪尔珠宝" src="http://cdn.wemorefun.com/content/statics/images/template/b-1.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=56&amp;isMobile=False&amp;productId=0" title="竹茗茶业" target="_blank"><img alt="竹茗茶业" src="http://cdn.wemorefun.com/content/statics/images/template/b-2.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=54&amp;isMobile=False&amp;productId=0" title="汝伊服装设计" target="_blank"><img alt="汝伊服装设计" src="http://cdn.wemorefun.com/content/statics/images/template/b-3.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=53&amp;isMobile=False&amp;productId=0" title="瑞德维纳红酒" target="_blank"><img alt="瑞德维纳红酒" src="http://cdn.wemorefun.com/content/statics/images/template/b-4.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=51&amp;isMobile=False&amp;productId=0" title="优创文化传媒" target="_blank"><img alt="优创文化传媒" src="http://cdn.wemorefun.com/content/statics/images/template/b-5.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=49&amp;isMobile=False&amp;productId=0" title="贝斯健身" target="_blank"><img alt="贝斯健身" src="http://cdn.wemorefun.com/content/statics/images/template/b-6.jpg"></a></li>
                                    </ul>
                                    <ul class="template-list-group" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=48&amp;isMobile=False&amp;productId=0" title="薇魔法婚纱摄影" target="_blank"><img alt="薇魔法婚纱摄影" src="http://cdn.wemorefun.com/content/statics/images/template/b-7.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=47&amp;isMobile=False&amp;productId=0" title="万向机械" target="_blank"><img alt="万向机械" src="http://cdn.wemorefun.com/content/statics/images/template/b-8.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=43&amp;isMobile=False&amp;productId=0" title="学优教育" target="_blank"><img alt="学优教育" src="http://cdn.wemorefun.com/content/statics/images/template/b-9.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=41&amp;isMobile=False&amp;productId=0" title="万华家装" target="_blank"><img alt="万华家装" src="http://cdn.wemorefun.com/content/statics/images/template/b-10.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=35&amp;isMobile=False&amp;productId=0" title="贝贝ABC" target="_blank"><img alt="贝贝ABC" src="http://cdn.wemorefun.com/content/statics/images/template/b-11.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=34&amp;isMobile=False&amp;productId=0" title="SMART LIGHT智能照明设备" target="_blank"><img alt="SMART LIGHT智能照明设备" src="http://cdn.wemorefun.com/content/statics/images/template/b-12.jpg"></a></li>
                                    </ul>
                                    <ul class="template-list-group" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=30&amp;isMobile=False&amp;productId=0" title="康达农业科技" target="_blank"><img alt="康达农业科技" src="http://cdn.wemorefun.com/content/statics/images/template/b-13.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=29&amp;isMobile=False&amp;productId=0" title="威箭集团" target="_blank"><img alt="威箭集团" src="http://cdn.wemorefun.com/content/statics/images/template/b-14.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=27&amp;isMobile=False&amp;productId=0" title="WMF肌肤护理专家" target="_blank"><img alt="WMF肌肤护理专家" src="http://cdn.wemorefun.com/content/statics/images/template/b-15.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=26&amp;isMobile=False&amp;productId=0" title="顺为广告传媒" target="_blank"><img alt="顺为广告传媒" src="http://cdn.wemorefun.com/content/statics/images/template/b-16.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=20&amp;isMobile=False&amp;productId=0" title="聚友家私" target="_blank"><img alt="聚友家私" src="http://cdn.wemorefun.com/content/statics/images/template/b-17.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=16&amp;isMobile=False&amp;productId=0" title="百味美食" target="_blank"><img alt="百味美食" src="http://cdn.wemorefun.com/content/statics/images/template/b-18.jpg"></a></li>
                                    </ul>
                                <ul class="template-list-group clone" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=62&amp;isMobile=False&amp;productId=0" title="艾迪尔珠宝" target="_blank"><img alt="艾迪尔珠宝" src="http://cdn.wemorefun.com/content/statics/images/template/b-1.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=56&amp;isMobile=False&amp;productId=0" title="竹茗茶业" target="_blank"><img alt="竹茗茶业" src="http://cdn.wemorefun.com/content/statics/images/template/b-2.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=54&amp;isMobile=False&amp;productId=0" title="汝伊服装设计" target="_blank"><img alt="汝伊服装设计" src="http://cdn.wemorefun.com/content/statics/images/template/b-3.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=53&amp;isMobile=False&amp;productId=0" title="瑞德维纳红酒" target="_blank"><img alt="瑞德维纳红酒" src="http://cdn.wemorefun.com/content/statics/images/template/b-4.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=51&amp;isMobile=False&amp;productId=0" title="优创文化传媒" target="_blank"><img alt="优创文化传媒" src="http://cdn.wemorefun.com/content/statics/images/template/b-5.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=49&amp;isMobile=False&amp;productId=0" title="贝斯健身" target="_blank"><img alt="贝斯健身" src="http://cdn.wemorefun.com/content/statics/images/template/b-6.jpg"></a></li>
                                    </ul><ul class="template-list-group clone" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=48&amp;isMobile=False&amp;productId=0" title="薇魔法婚纱摄影" target="_blank"><img alt="薇魔法婚纱摄影" src="http://cdn.wemorefun.com/content/statics/images/template/b-7.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=47&amp;isMobile=False&amp;productId=0" title="万向机械" target="_blank"><img alt="万向机械" src="http://cdn.wemorefun.com/content/statics/images/template/b-8.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=43&amp;isMobile=False&amp;productId=0" title="学优教育" target="_blank"><img alt="学优教育" src="http://cdn.wemorefun.com/content/statics/images/template/b-9.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=41&amp;isMobile=False&amp;productId=0" title="万华家装" target="_blank"><img alt="万华家装" src="http://cdn.wemorefun.com/content/statics/images/template/b-10.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=35&amp;isMobile=False&amp;productId=0" title="贝贝ABC" target="_blank"><img alt="贝贝ABC" src="http://cdn.wemorefun.com/content/statics/images/template/b-11.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=34&amp;isMobile=False&amp;productId=0" title="SMART LIGHT智能照明设备" target="_blank"><img alt="SMART LIGHT智能照明设备" src="http://cdn.wemorefun.com/content/statics/images/template/b-12.jpg"></a></li>
                                    </ul><ul class="template-list-group clone" style="float: left; width: 1160px;">
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=30&amp;isMobile=False&amp;productId=0" title="康达农业科技" target="_blank"><img alt="康达农业科技" src="http://cdn.wemorefun.com/content/statics/images/template/b-13.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=29&amp;isMobile=False&amp;productId=0" title="威箭集团" target="_blank"><img alt="威箭集团" src="http://cdn.wemorefun.com/content/statics/images/template/b-14.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=27&amp;isMobile=False&amp;productId=0" title="WMF肌肤护理专家" target="_blank"><img alt="WMF肌肤护理专家" src="http://cdn.wemorefun.com/content/statics/images/template/b-15.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=26&amp;isMobile=False&amp;productId=0" title="顺为广告传媒" target="_blank"><img alt="顺为广告传媒" src="http://cdn.wemorefun.com/content/statics/images/template/b-16.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=20&amp;isMobile=False&amp;productId=0" title="聚友家私" target="_blank"><img alt="聚友家私" src="http://cdn.wemorefun.com/content/statics/images/template/b-17.jpg"></a></li>
                                        <li class="template-list-item"><a href="http://www.wemorefun.com/viewTemplate?templateId=16&amp;isMobile=False&amp;productId=0" title="百味美食" target="_blank"><img alt="百味美食" src="http://cdn.wemorefun.com/content/statics/images/template/b-18.jpg"></a></li>
                                    </ul></div></div>
                            </div>
                        </div>

                        <a href="/visual" class="template-btn" target="_blank">查看更多分析图</a>

                    </div>
                    <!--/section-container-->

                </div>
            </div>
    </div>


{% endblock %}

{% block foot %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/jquery.slider.min.js' %}"></script>
    <script src="{% static 'js/jquery.fixed.js' %}"></script>

{% endblock %}
