{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">

    <!--jACKY end-->
{% endblock %}
{% block content %}
    <div class="container" style="width: 100%">
      <div class="row section">
        <img src="{% static 'img/banner2.jpg' %}" class="banner-bg"><!--jACKY 2016-3-24-->
        <div class="tBanner">
          <div>
            <h1>用图表的方式，了解农业发展情况</h1>
            <p>让图表更有趣，数据更简单！</p>
            <a href="/index" class="btn btn-primary btn-lg">
              <i style="margin-right: 10px;" class="glyphicon glyphicon-send"></i>
              点击图表
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="jcarousel-wrapper container">
            <div class="course-evaluation jcarousel " data-jcarousel="true">
                <ul style="left: -228px; top: 0px;">

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/5359f6f6ec7452081a7873d8">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section0.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/5359f6f6ec7452081a7873d8">
                                        Node.js
                                    </a>
                                </h5>
                                <a href="/course/5359f6f6ec7452081a7873d8">
                                    Node.js是一个基于Chrome JavaScript运行时建立的一个平台，用来方便地搭建.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/5449c691e564e50960f1b7a9">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section1.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/5449c691e564e50960f1b7a9">
                                        Spark
                                    </a>
                                </h5>
                                <a href="/course/5449c691e564e50960f1b7a9">
                                    Apache Spark 是一个用于大规模数据处理的计算引擎，数据处理专家.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/56821c3f660c92d638a68df5">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section2.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/56821c3f660c92d638a68df5">
                                        20小时学会编程
                                    </a>
                                </h5>
                                <a href="/course/56821c3f660c92d638a68df5">
                                    关键20小时之编程，其中10小时是研究，然后剩下的10小时是编写两个应用程序.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/5507ca5be564e51314f544e4">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section3.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/5507ca5be564e51314f544e4">
                                        Ionic
                                    </a>
                                </h5>
                                <a href="/course/5507ca5be564e51314f544e4">
                                    有了Ionic，我们可以使用它轻松开发HTML5跨平台移动应用。
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/54ee8d2de564e519b8f8dad3">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section4.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/54ee8d2de564e519b8f8dad3">
                                        JavaScript
                                    </a>
                                </h5>
                                <a href="/course/54ee8d2de564e519b8f8dad3">
                                     JavaScript是一种属于网络的脚本语言,身处移动互联网时代，你必须要认识它。
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/550a8966e564e51f041a15ba">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section5.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/550a8966e564e51f041a15ba">
                                        MySQL
                                    </a>
                                </h5>
                                <a href="/course/550a8966e564e51f041a15ba">
                                    MySQL是一个成熟优秀的数据库，我们可以使用它存储海量数据.....
                                </a>
                            </div>
                        </div>
                    </li>

                    <li style="width: 228px;">
                        <div class="course-content">
                            <div class="course-evaluation_img">
                                <a href="/course/54d1cae088dba03f2cd1fec1">
                                    <img alt="热门课程" style="border-bottom:1px solid #ddd;" class="img-responsive" src="http://7xk7h3.com2.z0.glb.qiniucdn.com/index!section6.png">
                                </a>
                            </div>
                            <div class="course-evaluation_text">
                                <h5>
                                    <a href="/course/54d1cae088dba03f2cd1fec1">
                                        CSS3
                                    </a>
                                </h5>
                                <a href="/course/54d1cae088dba03f2cd1fec1">
                                    CSS3最新的样式表技术，我们使用它创造出更多令人惊叹的视觉效果.....
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- Prev/next controls-->
            <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"> ›</a>

            <!-- Pagination -->
            <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1">1</a><a href="#2" class="active">2</a><a href="#3">3</a><a href="#4">4</a><a href="#5">5</a><a href="#6">6</a><a href="#7">7</a></p>
        </div>

    <section class="true-environment">
      <div class="title">
        <h2>真实的学习环境</h2>
        <span>Real learning environment</span>
        <hr>
      </div>
      <div class="row content container">
        <div class="col-md-4 col-lg-4 true_img">
          <img class="img-responsive" src="{% static 'img/index!true.png' %}" alt="练习环境"></div>
        <div class="col-md-8 col-lg-8 true-content">
          <h2>不用搭建学习环境</h2><p></p>
          <p>搭建学习环境的繁琐过程，足以熄灭你刚刚燃起的学习兴趣。终于，以后再也不用烦恼了。</p>
          <p>每个课程都有内置的学习环境，即到即学，心无旁骛，学习起来自然事半功倍。</p>
          <img class="img-responsive" src="{% static 'img/index!true_icon.png' %}" alt="course">
          <a class="enter btn btn-warning" href="/user/login">立即体验</a>
        </div>
      </div>
    </section>
    <section class="cloud-tools">
      <div class="title">
        <h2>云端练习工具</h2>
        <span>The cloud practice tools</span>
        <hr>
      </div>
      <div class="row content container">
        <div class="col-md-8 col-lg-8 tool-content">
          <h2>随处可用的云端练习工具</h2><p></p>
          <p>当你在阅读技术博客时，是不是希望把里面的代码跑起来？</p>
          <p>云端练习工具可以在任何一个网站上使用，看到代码，就运行它！</p>
          <img class="img-responsive left" src="{% static 'img/index!action.png' %}" alt="云端练习工具">
          <a target="_blank" class="enter right btn btn-warning" href="/index">如何使用</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tool_img">
          <img class="img-responsive" src="{% static 'img/index!tool.png' %}" alt="云端练习工具">
        </div>
      </div>
    </section>
    <section class="interactive-books">
      <div class="title">
        <h2>互动图书</h2>
        <span>The interactive books</span>
        <hr>
      </div>
      <div class="content container vertical">
        <h2>图书也可以互动！</h2><p></p><p></p>
        <p>还嫌厚重的技术图书增加你的负担？不用怕，新一代的互动图书来了！</p>
        <p>这不仅仅是出版社授权的正版电子书，还有配套的在线练习工具和示例代码！随学随练，阅读与实践同步，
          事半功倍的学习，还怕自己学不会吗？</p>

        <a class="btn btn-warning enter" href="/index">开始读书</a>
        <img class="img-responsive" src="{% static 'img/index!book.png' %}" alt="互动图书">
      </div>
    </section>
    <div class="study">
      <p>农业统计数据可视化平台，爱生活，爱学习！</p>
      <div class="begin"><a class="btn btn-warning" href="/course">开始了解</a></div>
    </div>

{% endblock %}

{% block foot %}


{% endblock %}
