{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/invite.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/share_style0_16.css' %}">

{% endblock %}
{% block content %}
    <div class='tableauPlaceholder' id='viz1520674150414' style='position: relative;margin-top: 70px;width: 100%'>
	<noscript>
		<a href='#'>
			<img alt='农产品价格统计信息 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;74&#47;743Q3RTDH&#47;1_rss.png'
			style='border: none' />
		</a>
	</noscript>
	<object class='tableauViz' style='display:none;'>
		<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
		<param name='embed_code_version' value='3' />
		<param name='path' value='views&#47;_19720&#47;sheet3?:embed=y' />
		<param name='toolbar' value='yes' />
		<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;74&#47;743Q3RTDH&#47;1.png'
		/>
		<param name='animate_transition' value='yes' />
		<param name='display_static_image' value='yes' />
		<param name='display_spinner' value='yes' />
		<param name='display_overlay' value='yes' />
		<param name='display_count' value='yes' />
	</object>
</div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1520674150414');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '100%';
        vizElement.style.height = (divElement.offsetWidth * 0.45) + 'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
{% endblock %}

{% block foot %}
{% endblock %}