{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="{% static 'css/share_style0_16.css' %}">

{% endblock %}

{%  block content %}
    <div class="container context">
      <div class="row summary">
        <div class="col-md-4 col-xs-12">
          <img src="{% static 'img/biz-summary.png' %}">
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="text">
            <h1>网站介绍</h1>
            <p><b>农业统计数据</b>是XXX于2017年推出的农业统计数据可视化平台。
            通过独特的<b>互动图表展现</b>，向了解农业发展现状的同学提供专业、丰富、有趣的数据内容。在这里，每个希望提升自己的人，
            都可以实时获得交互式编程所带来的极致体验。</p>

            <p><b>农业统计数据</b>目前提供的课程已经覆盖<b>统计年鉴/作物资源/农产品/有害生物</b>等诸多领域</p>
              <p>该网站建设是以满足国家和社会对农业科学数据共享服务需求为目的，通过采集国内外农业科技数据资源，并进行规范化加工处理，分类存储，最终形成覆盖全国，联结世界，可提供快速共享服务的农业数据资源库</p>
              <p>在本平台中，农业科学数据是指从事农业科技活动所产生的基本数据，以及按照不同需求而系统加工整理的数据产品和相关信息，农业科学数据是农业科技创新的重要基础资源，通过农业统计数据库的建设可以为农业科技创新、农业科技管理决策提供农业科学数据信息资源的支撑和保障。</p>
            <blockquote>
            <div>倪先生</div>
            <div>微信：15931897093</div>
            <div>Q  Q：1025464043</div>
            <div>邮箱：1025464043@qq.com </div>
            </blockquote>

          </div>
        </div>
      </div>
        <div class="row partners">
      <div class="tile col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>学生</h1>
          <div class="text">
            <p>通过已有数据为同学提供<b>数据资源和可视图表</b>，了解农业发展情况，采用多种数据图表形式浏览农业统计数据，最大化地体现数据内在价值。</p>
          </div>
        </a>
      </div>
      <div class="tile col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>教师</h1>
          <div class="text">
            <p>通过已有数据为教师<b>提供</b>专题数据图表分析，以及分析报告，打破静态图表的限制，有效地提升用户理解数据信息。</p>
          </div>
        </a>
      </div>
      <div class="tile  col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>高校</h1>
          <div class="text">
            <p>通过已有数据为高校<b>提供</b>专题数据图表分析，以及分析报告，打破静态图表的限制，有效地提升用户理解数据信息。</p>
          </div>
        </a>
      </div>
      <div class="tile   col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>科研机构</h1>
          <div class="text">
             <p>通过已有数据为科研机构<b>提供</b>专题数据图表，以及分析报告，打破静态图表的限制，有效地提升用户理解数据信息。</p>
          </div>
        </a>
      </div>
        </div>
      </div>
{% endblock %}

{% block foot %}
{% endblock %}