{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/share_style0_16.css' %}">

{% endblock %}

{%  block content %}
    <div class="container context">
      <div class="row summary">
        <div class="col-md-4 col-xs-12">
          <img src="{% static 'img/biz-summary.png' %}">
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="text">
            <h1>网站合作</h1>
            <p><b>汇智网</b>是华邦伟业于2014年推出的在线编程自主学习服务。
            通过独特的<b>互动学习环境</b>，向学习编程的同学提供前沿、专业、丰富、有趣的课程内容。在这里，每个希望提升自己的人，
            都可以实时获得交互式编程所带来的极致体验。</p>

            <p><b>汇智网</b>目前提供的课程已经覆盖<b>前端/后端/数据处理/机器学习</b>等诸多技术领域：
            JavaScript、CSS、HTML、C、C#、c++、PHP、Python、ruby、
            redis、mySQL、Mongodb、Node.js、Typescript、ECMAScript、jQuery、asp.net、
            Nginx、Gulp、Mocha、Git、Meteor......</p>

            <p>两年来，<b>汇智网</b>已经服务了超过<b>100万</b>软件工程师和程序开发爱好者。我们期望通过与商业伙伴的<b>合作</b>，
            打造更完美的编程学习环境，帮助更多的人掌握软件开发技能。具体网站合作事宜请接洽：</p>

            <blockquote>
            <div>倪先生</div>
            <div>微信：15931897093</div>
            <div>Q  Q：1025464043</div>
            <div>邮箱：1025464043@qq.com </div>
            </blockquote>

          </div>
        </div>
      </div>
        <div class="row partners">
      <div class="tile col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>作者</h1>
          <div class="text">
            <p>内容创作者可以开设<b>收费课程</b>，采用分成模式获取收益。</p>
            <p>采用多媒体互动方式传授知识与技能，最大化地体现价值。
            真正做到让学生在线高效完成学习任务。</p>
          </div>
        </a>
      </div>
      <div class="tile col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>培训机构</h1>
          <div class="text">
            <p>我们可以为培训机构<b>定制</b>专业的交互式课程。</p>
            <p>通过线上线下的紧密结合，打破时空限制，有效的提升培训机构的线上授课能力。</p>
          </div>
        </a>
      </div>
      <div class="tile  col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>学校</h1>
          <div class="text">
            <p>我们可以为学校打造有<b>就业针对性</b>的专业课程。</p>
            <p>利用互动学习平台，真正提高学生的实践动手能力，满足就业需求。</p>
          </div>
        </a>
      </div>
      <div class="tile   col-md-3">
        <a class="wrapper author" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1025464043&amp;site=qq&amp;menu=yes" target="_blank">
          <h1>企业</h1>
          <div class="text">
            <p>我们可以根据企业的<b>技术路线</b>，开设内训课程。</p>
            <p>利用低成本、高效率的内训课程，有效改善员工的培养机制，增强企业凝聚力。</p>
          </div>
        </a>
      </div>
        </div>
      </div>
{% endblock %}

{% block foot %}
    <script src="{% static 'js/global.js' %}"></script>
{% endblock %}