{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/invite.min.css' %}">

    <script src="{% static 'js/share.js' %}"></script>
    <!--jACKY end-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
    <div class="page-header bg-gray mb-0">
	<div class="container container--smx">
		<div class="row align-items-center">
			<div class="main d-flex align-items-center">
				<div>
					<img height="120px" src="https://vuejs.org/images/logo.png" alt="" class="mr-4">
				</div>
				<div>
					<h1 class="display-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Vue.js课程
					</font></font></h1>
					<p class="text-lg">
						<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            公司正在寻找具有良好Vue.js知识的人。
						</font><font style="vertical-align: inherit;">Vue.js不够了解你的理想工作？</font><font style="vertical-align: inherit;">想了解更多？</font><font style="vertical-align: inherit;">我们已经获得了一系列令人惊叹的Vue.js课程和教程，您可以利用它们来增强您的Vue.js知识。
						</font></font>
					</p>
				</div>
			</div>
			<div class="sidebar text-right">
				<p>
					<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">你有分析图表，并希望在这里列出？</font></font>
				</p>
				<a href="mailto:hello@vuejobs.com?subject=Vue.js Courses" class="btn btn-outline-inverse btn-sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">提交课程！</font></font></a>
			</div>
		</div>
	</div>
</div>
    <div class="content ">
        <div class="container">
            <div class="row">
                <div class="main">
                    <div class="row">
                        <div class="courses row">
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1022582&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-2-essentials%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1022582_7ae5_12.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1022582&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">终极Vue JS 2开发者课程</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://egghead.io/courses/use-typescript-to-develop-vue-js-web-applications"><img border="0" src="https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/131/full/EGH_TSVue_Final.png?1502729511"></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用TypeScript开发Vue.js Web应用程序</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.978728&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fweb-development-html5-css3-php-oop-and-mysql-database%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/978728_0af3_5.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.978728&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">周到的Web开发课程：HTML，Vue。</font><font style="vertical-align: inherit;">JS，PHP，MySQL</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.907688&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fgetting-started-with-vuejs%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/907688_9fd1_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.907688&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue.js入门</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1356458&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-build-a-full-stack-app-with-firebase-vuex-router%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1356458_e599_5.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1356458&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue.js：使用Firebase，Vuex和路由器构建完整的堆栈应用程序</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1208638&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fangular-reactjs-vuejs-quickstart-comparison%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1208638_2604.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1208638&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">React JS，Angular＆Vue JS  - 快速入门和比较</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1251656&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-2-academy-learn-vue-vuex-step-by-step%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1251656_23e6_4.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1251656&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue公司。</font><font style="vertical-align: inherit;">js 2学院：逐步学习Vue</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1295584&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Flearning-path-vuejs-web-application-development-made-easy%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1295584_0497_3.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1295584&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学习路径：Vue.js：Web应用程序开发变得简单</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1289272&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fup-and-running-with-vuejs%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1289272_5dee_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1289272&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">和Vue一起运行。</font><font style="vertical-align: inherit;">JS</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1343146&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Flearning-path-vuejs-build-reactive-web-apps-with-vue-2%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1343146_d3a8_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1343146&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学习路径：Vue。</font><font style="vertical-align: inherit;">js：使用Vue 2构建反应式Web应用程序</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.987064&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Flearn-by-doing-vue-js-2-the-right-way%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/987064_5183_5.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.987064&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通过做学习：Vue JS 2.0正确的方法</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1389956&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-2-recipes%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1389956_6be8_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1389956&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue.js 2食谱</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1291596&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fweb-development-with-vuejs-2%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1291596_450d_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1291596&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用Vue进行Web开发。</font><font style="vertical-align: inherit;">js 2</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://egghead.io/courses/vue-js-state-management-with-vuex-and-typescript"><img border="0" src="https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/136/full/VuexStorageTS.png?1504720899"></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用Vuex和TypeScript进行Vue.js状态管理</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1148660&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fgetting-started-with-vue-js%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1148660_cf4c_6.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1148660&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue JS 2入门</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1312946&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Ffundamentals-of-vue-js%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1312946_673c.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1312946&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue JS的基础</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.995016&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-2-the-complete-guide%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/995016_ebf4.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.995016&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue JS 2  - 完整指南（包括Vue路由器和Vuex）</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1047968&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-from-beginner-to-professional%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1047968_aff4_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1047968&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue JS 2：从初学者到专业（包括Vuex）</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1040146&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fmaster-vue-js%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1040146_b897.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1040146&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学习Vue。</font><font style="vertical-align: inherit;">js  - 渐进的JavaScript框架</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1165096&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvue-web-apps%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1165096_e5af_3.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1165096&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue JS 2.0  - 掌握Web应用程序</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="sidebar__row bg-warning-lighter featured-sign">
                        <div class="featured-sign__message bg-inverse">
                            <i class="fa fa-star text-warning"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 特色工作！
                            </font></font>
                        </div>
                        <div class="featured-job bg- pt-3 rounded text-center">
                            <div class="mb-2">
                                <img src="/static/img/chart/cUIUXFyRAOsIohrAyK6q5R38y5bJpYrA5aEcTegO.png" alt="Teston的标志" class="rounded" style="max-width: 55px; height: auto;">
                            </div>
                            <a href="https://vuejobs.com/jobs/237-senior-full-stack-developer" class="d-block font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                高级全面开发人员
                            </font></font></a>
                            <div class="small text-muted">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在</font></font><span class="font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Teston</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                - 挪威奥斯陆，远程允许
                                </font></font>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__row">
                        <div class="d-flex align-items-center mb-3">
                            <img src="/static/img/chart/email-2.svg" alt="" class="mr-3" style="max-width: 40px; max-height: 35px;">
                            <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">充分利用我们的列表到您的收件箱中</font></font></h6>
                        </div>
                        <div class="subscribe">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="form-control-label" style="display: none;">Name <span>Optional</span></label><input name="name" type="text" placeholder="Name" class="form-control form-control-sm"><!---->
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" style="display: none;">E-Mail</label><input name="email" required="required" type="email" placeholder="Your email" class="form-control form-control-sm"><!---->
                                    </div>
                                    <button class="btn btn-inverse btn-sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是的，请！</font></font></button>
                                </fieldset>
                                <div class="small mt-2">
                                    <i class="fa fa-bomb text-danger"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 我们保证不会炸毁您的收件箱。</font></font>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar__row bg-gray rounded text-dwhite textd-center">
                        <div class="d-flex align-items-center mb-2">
                            <img src="/static/img/chart/search-2.svg" alt="" class="mr-2" style="max-width: 40px; max-height: 35px; transform: rotate(-35deg);">
                            <h5 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">雇用你的Vue.js开发者</font></font></h5>
                        </div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-star text-warning fa-fw"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 100％退款保证</font></font></li>
                            <li><i class="fa fa-star text-warning fa-fw"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 达到成千上万的Vuers</font></font></li>
                        </ul>
                        <hr>
                        <a href="https://vuejobs.com/jobs/create" class="btn btn-block btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发布工作！</font></font></a>
                        <div class="mt-1 text-center">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            或
                            </font></font><a href="https://vuejobs.com/pricing"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看定价</font></font></a>
                        </div>
                    </div>
                    <div class="sidebar__row">
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学习Vue.js开发</font></font></h3>
                        <p>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">不知道Vue.js呢？</font><font style="vertical-align: inherit;">看看这个课程或浏览我们</font></font><a href="https://vuejobs.com/courses" class="font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">的Vue.js课程列表</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">。
                            </font></font>
                        </p>
                        <div class="courses ">
                            <div>
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1389956&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-2-recipes%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1389956_6be8_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1389956&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue.js 2食谱</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__row bg-gray rounded featured-sign">
                        <div class="featured-sign__message featured-sign__message--dsm bg-inverse">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">精选资源！</font></font>
                        </div>
                        <div class="testing-vue-js-components-with-jest pt-3">
                            <p class="mb-2 text-center">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发现使用Vue.js的项目</font></font>
                            </p>
                            <p class="text-center mb-2">
                                <a onclick="ga('send', 'event', 'outbound', 'click', 'https://madewithvuejs.com');" href="https://madewithvuejs.com/?utm_source=vuejobs" target="_blank"><img width="130px" src="https://madewithvuejs.com/mandant/madewithvuejs/images/logo.png?455sf" alt="用Vue.js标志做" class="rounded"></a>
                            </p>
                            <p class="mb-0 text-center">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看</font></font><a onclick="ga('send', 'event', 'outbound', 'click', 'https://madewithvuejs.com');" href="https://madewithvuejs.com/?utm_source=vuejobs" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用Vue.js制作</font></font></a>
                            </p>
                        </div>
                    </div>
                    <div class="sidebar__row bg-warning-lighter featured-sign">
                        <div class="featured-sign__message bg-inverse">
                            <i class="fa fa-star text-warning"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 特色工作！
                            </font></font>
                        </div>
                        <div class="featured-job bg- pt-3 rounded text-center">
                            <div class="mb-2">
                                <img src="/static/img/chart/cUIUXFyRAOsIohrAyK6q5R38y5bJpYrA5aEcTegO.png" alt="Teston的标志" class="rounded" style="max-width: 55px; height: auto;">
                            </div>
                            <a href="https://vuejobs.com/jobs/237-senior-full-stack-developer" class="d-block font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                高级全面开发人员
                            </font></font></a>
                            <div class="small text-muted">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在</font></font><span class="font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Teston</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                - 挪威奥斯陆，远程允许
                                </font></font>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__row">
                        <div class="d-flex align-items-center mb-3">
                            <img src="/static/img/chart/email-2.svg" alt="" class="mr-3" style="max-width: 40px; max-height: 35px;">
                            <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">充分利用我们的列表到您的收件箱中</font></font></h6>
                        </div>
                        <div class="subscribe">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="form-control-label" style="display: none;">Name <span>Optional</span></label><input name="name" type="text" placeholder="Name" class="form-control form-control-sm"><!---->
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" style="display: none;">E-Mail</label><input name="email" required="required" type="email" placeholder="Your email" class="form-control form-control-sm"><!---->
                                    </div>
                                    <button class="btn btn-inverse btn-sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是的，请！</font></font></button>
                                </fieldset>
                                <div class="small mt-2">
                                    <i class="fa fa-bomb text-danger"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 我们保证不会炸毁您的收件箱。</font></font>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar__row bg-gray rounded text-dwhite textd-center">
                        <div class="d-flex align-items-center mb-2">
                            <img src="/static/img/chart/search-2.svg" alt="" class="mr-2" style="max-width: 40px; max-height: 35px; transform: rotate(-35deg);">
                            <h5 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">雇用你的Vue.js开发者</font></font></h5>
                        </div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-star text-warning fa-fw"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 100％退款保证</font></font></li>
                            <li><i class="fa fa-star text-warning fa-fw"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 达到成千上万的Vuers</font></font></li>
                        </ul>
                        <hr>
                        <a href="https://vuejobs.com/jobs/create" class="btn btn-block btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发布工作！</font></font></a>
                        <div class="mt-1 text-center">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            或
                            </font></font><a href="https://vuejobs.com/pricing"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看定价</font></font></a>
                        </div>
                    </div>
                    <div class="sidebar__row">
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学习Vue.js开发</font></font></h3>
                        <p>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">不知道Vue.js呢？</font><font style="vertical-align: inherit;">看看这个课程或浏览我们</font></font><a href="https://vuejobs.com/courses" class="font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">的Vue.js课程列表</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">。
                            </font></font>
                        </p>
                        <div class="courses ">
                            <div>
                                <div class="card card-body course rounded">
                                    <div class="card-body">
                                        <a target="_blank" href="https://click.linksynergy.com/link?id=cLjdnt0uMrc&offerid=358574.1389956&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fvuejs-2-recipes%2F"><img border="0" src="https://udemy-images.udemy.com/course/480x270/1389956_6be8_2.jpg"></a><img border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cLjdnt0uMrc&bids=358574.1389956&type=2&subid=0" class="course__handler">
                                    </div>
                                    <div class="card-body">
                                        <div class="course__name">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue.js 2食谱</font></font>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__row bg-gray rounded featured-sign">
                        <div class="featured-sign__message featured-sign__message--dsm bg-inverse">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">精选资源！</font></font>
                        </div>
                        <div class="testing-vue-js-components-with-jest pt-3">
                            <p class="mb-2 text-center">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发现使用Vue.js的项目</font></font>
                            </p>
                            <p class="text-center mb-2">
                                <a onclick="ga('send', 'event', 'outbound', 'click', 'https://madewithvuejs.com');" href="https://madewithvuejs.com/?utm_source=vuejobs" target="_blank"><img width="130px" src="https://madewithvuejs.com/mandant/madewithvuejs/images/logo.png?455sf" alt="用Vue.js标志做" class="rounded"></a>
                            </p>
                            <p class="mb-0 text-center">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看</font></font><a onclick="ga('send', 'event', 'outbound', 'click', 'https://madewithvuejs.com');" href="https://madewithvuejs.com/?utm_source=vuejobs" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用Vue.js制作</font></font></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}

{% endblock %}
