{% extends 'base/base.html' %}
{% block cssjs %}
    {% load static %}


    <link href="{% static 'css/51web.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/invite.min.css' %}">
    <script src="{% static 'js/share.js' %}"></script>
    <!--jACKY end-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
{#    <div class="page-header bg-gray "></div>#}

    <div class="content" style="width: 1295px">
    	<div class="contentTop"><h2>最新可视分析图</h2></div>
        <div class="caseList">
        	<ul id="caseList">
                {% for i in chart.object_list %}
                    <li>
                        <a href="/chart?id={{ i.id }}" target="_blank">
                            <div class="caseThum"><img width="300" height="180" align="{{ i.name }}" class="lazy" src="{% get_static_prefix %}{{ i.surface }}" style="display: block;"></div>
                            <div class="caseBottom">
                                <div class="caseName">{{ i.name }}</div>
                                <div class="caseInfo">
                                    <div class="caseIcon ll">{{ i.click_num }}</div><div class="caseTime">{{ i.add_time }}</div></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
          </ul>
        </div>
        <div class="loadMore"><a href="?nums=8">加载更多 →</a></div>
    </div>
{% endblock %}

{% block foot %}

{% endblock %}
